<h1> <%= @job.title %> </h1>
<p>
  <%= simple_format(@job.description) %>
</p>

<%= link_to("投交履历", new_job_resume_path(@job), :class => "btn btn-success" ) %>
<%= link_to("返回", jobs_path, :class => "btn btn-default" ) %>
